body {
    background-color: #f2f2f2;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #006837;
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    max-width: 520px;
    height: fit-content;
    color: #467745;
    background-color: #f9c582;
    padding: 20px;
    line-height: 25px;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    max-width: 480px;
    padding: 0 10px;
    height: 64px;
    color: #98a991;
    border: none;
    margin: 20px 10px 10px 10px;
}

button {
    all: unset;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 21px;
    margin: 20px;
    width: 120px;
    height: 120px;
    background-color: #f9c582;
    color: #006837;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 520px) {
    h1 {
        font-size: 24px;
    }

    .text {
        width: 100%;
    }

    input {
        width: calc(100% - 40px);
    }
}